<div class="container-fluid">

  <div class="row d-flex align-items-center">

      <div class="col-md-6 mt-5 mb-5">

          <div class="row d-flex justify-content-center">
              <div class="col-md-10">

                  <h1 class="text-center mb-3 font-weight-bold" style="color: #00842B">Contact us
                  </h1>

                  <div class="form-group">
                      
                      <input class="form-control" type="text" name="nome" id="nome" placeholder="Your name">
                  </div>
                  <div class="form-group">
                      
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                  <div class="form-group">
                    <input class="form-control" type="text" name="assunto" id="assunto" placeholder="subject matter">
                </div>

                <div class="form-group">
                      
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your name"></textarea>
              </div>

                  <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-outline-danger mr-4" routerLink='/entrar'>Cancelar</button>
                      <button type="submit" class="btn btn-outline-success"> Cadastrar</button>
                  </div>

                  <hr class="mt-4 mb-4">
                  <p class="text-center">
                      Não tem uma conta? <a href="">Cadastre-se</a>
                  </p>

              </div>
          </div>

      </div>

      <div class="col-md-6" id="img-bg"></div>

  </div>
  <footer class="page-footer font-small gradient pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="" style="color: #00842B">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="" target="_blank" class="iconInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/asena93/projetointegrador-v2.git" target="_blank" class="iconGitHub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>

        </div>
    </div>

    <div class="footer-copyright gradient text-center py-3 font-weight-bold">
     <div><a routerLink='/sobre' >SOBRE NOS</a></div>
     <div><a routerLink='/contato' >Contato</a></div>
        <span style="color: #00842B"> &copy; 2021 Copyright: Maju Company </span>
    </div>
</footer>
</div>